@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-LightItalic.eot');
  src: url('Quicksand-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('Quicksand-LightItalic.svg#Quicksand-LightItalic') format('svg'),
       url('Quicksand-LightItalic.ttf') format('truetype'),
       url('Quicksand-LightItalic.woff') format('woff'),
       url('Quicksand-LightItalic.woff2') format('woff2');
  font-weight: lighter;
  font-style: italic;
}

