@font-face {
  font-family: 'Quicksand';
  src: url('QuicksandDash-Regular.eot');
  src: url('QuicksandDash-Regular.eot?#iefix') format('embedded-opentype'),
       url('QuicksandDash-Regular.svg#QuicksandDash-Regular') format('svg'),
       url('QuicksandDash-Regular.ttf') format('truetype'),
       url('QuicksandDash-Regular.woff') format('woff'),
       url('QuicksandDash-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

