mixin type-block(tag)
    case tag
        when 'h1'
            .type-block
                .type-block__name
                    h1 h1
                .type-block__text
                    h1 This one is the sub-section or widget title
        when 'h2'
            .type-block
                .type-block__name
                    h2 h2
                .type-block__text
                    h2 Next one is the item title inside widgets
        when 'h3'
            .type-block
                .type-block__name
                    h3 h3
                .type-block__text
                    h3 This is a label or cta text
        when 'body'
            .type-block
                .type-block__name
                    p Body
                .type-block__text
                    p This is the body text which is used for most of the design, like paragraphs, lists, etc.
        default
            .type-block
                .type-block__name
                    h1 h1
                .type-block__text
                    h1 This one is the sub-section or widget title