mixin rangeSlider(options)
    .range-slider
        .range-slider__head.cont-flex
            h3= options.title
            p <span id='slider-non-linear-step-value'></span>            
        #rangeSlider
        .range-slider__tip= options.tip