mixin filterDateDropdown (options)
    .date-dropdowns
        .date-dropdowns__input_type_filterDate
            h3= options.title
            input(type='text' class='thisfield date'  autocomplete="off" placeholder='Выберите дату' value= options.value)
            .date-dropdown__toggle
                i(class="material-icons") expand_more
        .date-dropdown__datepick-container
            .datepicker-here
            .date-dropdown__buttons
                div
                .date-dropdown__apply-btn Применить                     