.registration-main__container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    height: inherit;
    padding-top: 30px;
    padding-bottom: 26px;

    .form-card {
        margin: auto;        
    }
}