mixin radioButtons (options)
    if options.type == 'sex'
         .radio-buttons.cont-flex_left
            .radio-buttons__container
                .radio-buttons__input
                    input(name='radio' type="radio" id='male'+options.id checked)
                    span.radio-buttons__input-container
                label(for="male"+options.id) Мужчина
            .radio-buttons__container
                .radio-buttons__input
                    input(name='radio' type="radio" id='female'+options.id)
                    span.radio-buttons__input-container
                label(for="female"+options.id) Женщина