mixin masked-text-field(options)
    .masked-text-field
        if options.name == 'Masked text field'
            h3= options.name        
            p Default
        else 
            h3= options.name
        input(type= options.type name= options.name placeholder= options.placeholder class= options.class)