.searchRoom-main__filter-block {
    margin-bottom: 33px;
    width: 100%;
    min-width: 240px;
    max-width: 270px;

    &:nth-child(1) {
        margin-bottom: 23px;
    }
    
    &:nth-child(6) {
        margin-bottom: 17px;
    }
}