mixin toggle(options)
    if options.checked == 'true'
        .toggle
            h3= options.title
            .toggle__container.cont-flex_left
                .toggle__input
                    input(name='toggle' type="checkbox" id='toggle'+options.id checked)
                    span(class="slider")
                label(for="toggle"+options.id) Получать спецпредложения                    
    else
        .toggle
            h3= options.title
            .toggle__container.cont-flex_left
                .toggle__input
                    input(name='toggle' type="checkbox" id='toggle'+options.id)
                    span(class="slider")
                label(for="toggle"+options.id) Получать спецпредложения