.landingPage-main__block_tip {
    position: relative;
    display: block;
    text-align: right;
    flex-grow: 1;
    line-height: 24px;
    margin-bottom: 20px;    

    p {
        position: absolute;
        right: -2.5px;
        bottom: 1px;
    }
}