include ../uiKit.blocks/color-block/color-block
include ../uiKit.blocks/type-block/type-block
include ../uiKit.blocks/forms/forms

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="../fonts/fonts.scss")
        link(rel="stylesheet", href="../reset.css")
        link(rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css")        
        link(rel="stylesheet", href="../scss/main.scss")

    body
        header
            .header-main
                .header-main__container
                    a(href="./index.pug").header-main__logo
                        img(src="../img/logoMain.svg", alt="")
                    .header-main__nav-container
                        .header-main__nav-toggle
                            span
                        .header-main__nav
                            ul.cont-flex
                                li
                                    a(href="") О нас                
                                li
                                    .header-main__dropdown
                                        p Услуги
                                        i.material-icons expand_more
                                        .header-main__dropdown-content.hidden
                                            ul
                                                li
                                                    a(href="")  Item 1
                                                li
                                                    a(href="")  Item 2
                                                li
                                                    a(href="")  Item 3
                                                li
                                                    a(href="")  Item 4                                            
                                li
                                    a(href="") Вакансии
                                li
                                    a(href="") Новости
                                li
                                    .header-main__dropdown
                                        p Соглашения
                                        i.material-icons expand_more
                                        .header-main__dropdown-content.hidden
                                            ul
                                                li
                                                    a(href="")  Item 1
                                                li
                                                    a(href="")  Item 2
                                                li
                                                    a(href="")  Item 3
                                                li
                                                    a(href="")  Item 4
                        .header-main__buttons
                            .header-main__login
                                a(href="./signIn.pug")
                                    +button({theme: 'ghost', text: 'Войти'})                                                
                            .header-main__register
                                a(href="./registration.pug")
                                    +button({theme: 'colored', text: 'Зарегистрироваться'})
            
        main
            .roomDetails-main-head
                .roomDetails-main-head__container_big
                    .roomDetails-main-head__block
                        img(src="../uploads/room888/photo1.png", alt="")                        
                .roomDetails-main-head__container_small
                    .roomDetails-main-head__block
                        img(src="../uploads/room888/photo2.png", alt="")
                    .roomDetails-main-head__block
                        img(src="../uploads/room888/photo3.png", alt="")
            
            .roomDetails-main-info
                .roomDetails-main-info__container
                    .roomDetails-main-info__block-container
                        .roomDetails-main-info__block.roomDetails-main-info__block_small
                            h2.roomDetails-main-info__block-title Сведения о номере
                            .features-block
                                i(class="material-icons") mood
                                .features-block__text 
                                    .features-block__title Комфорт
                                    .features-block__description Шумопоглощающие стены
                            .features-block
                                i(class="material-icons") location_city
                                .features-block__text 
                                    .features-block__title Удобство
                                    .features-block__description Окно в каждой из спален
                            .features-block
                                i(class="material-icons") whatshot
                                .features-block__text 
                                    .features-block__title Уют
                                    .features-block__description Номер оснащён камином
                        .roomDetails-main-info__block.roomDetails-main-info__block_small
                            h2.roomDetails-main-info__block-title Впечатления от номера
                            .pieChart
                                .pieChart__circle-container
                                    <svg width="150.5px" height="151px" viewBox="0 0 41.5 41.5" class="pieChart__circle">
                                        <defs>
                                            <linearGradient id="magnificent-gradient">
                                                <stop offset="0%" stop-color="#FFBA9C"/>
                                                <stop offset="100%" stop-color="#FFE39C"/>
                                            </linearGradient>
                                            <linearGradient id="well-gradient">
                                                <stop offset="0%" stop-color="#66D2EA"/>
                                                <stop offset="100%" stop-color="#6FCF97"/>
                                            </linearGradient>
                                            <linearGradient id="satisfying-gradient">
                                                <stop offset="0%" stop-color="#8BA4F9"/>
                                                <stop offset="100%" stop-color="#BC9CFF"/>
                                            </linearGradient>
                                            <linearGradient id="disappointed-gradient">
                                                <stop offset="0%" stop-color="#919191"/>
                                                <stop offset="100%" stop-color="#3D4975"/>
                                            </linearGradient>
                                        </defs>
                                        
                                        <circle class="pieChart__circle_hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                                        <circle class="pieChart__circle_ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="white" stroke-width="1"></circle>

                                        <circle class="pieChart__circle_magnificent" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="url(#magnificent-gradient)" stroke-width="1" stroke-dasharray="49 51" stroke-dashoffset="74.5"></circle>
                                        <circle class="pieChart__circle_well" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="url(#well-gradient)" stroke-width="1" stroke-dasharray="24.5 75.5" stroke-dashoffset="-0.3"></circle>
                                        <circle class="pieChart__circle_satisfying" cx="21.2" cy="20.7" r="14.8" fill="transparent" stroke="url(#satisfying-gradient)" stroke-width="2.7" stroke-dasharray="30 70" stroke-dashoffset="30.5"></circle>
                                    </svg>
                                    .pieChart__circle_text
                                        .pieChart__circle-number 260                                            
                                        .pieChart__circle-label голосов
                                
                                .pieChart__tips
                                    .pieChart__tip.pieChart__tip_magnificent
                                        p Великолепно
                                    .pieChart__tip.pieChart__tip_well
                                        p Хорошо
                                    .pieChart__tip.pieChart__tip_satisfying
                                        p Удовлетворительно
                                    .pieChart__tip.pieChart__tip_dissapointed
                                        p Разочарован                                    


                    .roomDetails-main-info__block-container    
                        .roomDetails-main-info__block
                            .roomDetails-main-info__feedback-title
                                h2 Отзывы посетителей номера
                                p 2 отзыва
                            .social-feedback
                                .social-feedback__header
                                    .social-feedback__photo
                                        img(src="../uploads/user_photo/Murad_photo.png", alt="")
                                    .social-feedback__title
                                        .social-feedback__name
                                            p Мурад Сарафанов
                                        .social-feedback__date
                                            p 5 дней назад
                                .social-feedback__main
                                    .social-feedback__like
                                        .like-button
                                            +likeButton({checked: 'true', count: '12'})
                                    .social-feedback__text
                                        p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто не жаловался из соседей.                        
                            .social-feedback
                                .social-feedback__header
                                    .social-feedback__photo
                                        img(src="../uploads/user_photo/Patricia_photo.png", alt="")
                                    .social-feedback__title
                                        .social-feedback__name
                                            p Патрисия Стёклышкова
                                        .social-feedback__date
                                            p Неделю назад
                                .social-feedback__main
                                    .social-feedback__like
                                        .like-button
                                            +likeButton({checked: 'false', count: '2'})
                                    .social-feedback__text
                                        p Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
                    .roomDetails-main-info__block-container
                        .roomDetails-main-info__block.roomDetails-main-info__block_small
                            .bullet-list
                                h2 Правила
                                ul
                                    li Нельзя с питомцами
                                    li Без вечеринок и мероприятий
                                    li Время прибытия - после 13:00, а выезд до 12:00
                        .roomDetails-main-info__block.roomDetails-main-info__block_small
                            .roomDetails-main-info__tip
                                h2 Отмена
                                p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                
                
                .roomDetails-main-info__card
                    .form-card
                        form(action="")
                            .form-card__block
                                .cont-flex
                                    .cont-flex
                                        p.form-card__text.form-card__text_bold №
                                        p.form-card__text.form-card__text_high 888
                                        p.form-card__text.form-card__text_purple люкс
                                    .form-card__text
                                        p 9 990₽ в сутки
                            .form-card__block
                                .date-dropdowns.cont-flex
                                        .date-dropdowns__input
                                            h3 Прибытие
                                            input(type='text' class='splitfield date start2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                            .date-dropdown__toggle
                                                i(class="material-icons") expand_more                                            
                                        .date-dropdowns__input
                                            h3 Выезд
                                            input(type='text' class='splitfield date end2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                            .date-dropdown__toggle
                                                i(class="material-icons") expand_more
                                        .date-dropdown__datepick-container
                                            .datepicker_uiKit
                                            .date-dropdown__buttons
                                                div
                                                .date-dropdown__apply-btn Применить                                                    
                            .form-card__block
                                +dropdown({name: 'Гости', type: 'Guests'})
                            .form-card__block.form-card__block_price
                                .form-card__elem
                                    .cont-flex
                                        p 9 990₽ x 4 суток
                                        p 39 960₽
                                .form-card__elem
                                    .cont-flex
                                        .cont-flex
                                            .form-card__description
                                                p Сбор за услуги: скидка 2 179₽
                                            .form-card__info
                                                p i
                                        p 0₽
                                .form-card__elem
                                    .cont-flex
                                        .cont-flex
                                            .form-card__description
                                                p Сбор за дополнительные услуги
                                            .form-card__info
                                                p i
                                        p 300₽
                            .form-card__block
                                .form-card__result
                                    p Итого
                                    .form-card__lower-border
                                    p 38 081₽
                            .form-card__block
                                +button({theme: 'long', text: 'Забронировать'})
        footer
            .footer-main
                .footer-main__container
                    .footer-main__logo
                        img(src="../img/logoMain.svg", alt="")
                        .footer-main__caption 
                            p   Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    .footer-main__menuList
                        h3 Навигация
                        ul
                            li
                                a(href="") О нас
                            li
                                a(href="") Новости
                            li
                                a(href="") Служба поддержки
                            li
                                a(href="") Услуги
                    .footer-main__menuList
                        h3 О нас
                        ul
                            li
                                a(href="") О сервисе
                            li
                                a(href="") Наша команда
                            li
                                a(href="") Вакансии
                            li
                                a(href="") Инвесторы
                    .footer-main__menuList
                        h3 Служба поддержки
                        ul
                            li
                                a(href="") Соглашения
                            li
                                a(href="") Сообщества
                            li
                                a(href="") Связь с нами
                    .footer-main__menuList
                        h3 Подписка
                        .footer-main__caption
                            p Получайте специальные<br> предложения и новости сервиса
                        +subTextField({placeholder: 'Your email address'})
                .footer-main__border
                .footer-main__copyright
                    p Copyright © 2018 Toxin отель. Все права защищены.
                    .footer-main__contacts
                        a(href="")  
                            <i class="fab fa-twitter"></i>
                        a(href="")
                            <i class="fab fa-facebook-square"></i>
                        a(href="")
                            <i class="fab fa-instagram"></i>
    
    script(src="../js/main.js")
    script(src="../airpicker/datepicker.min.js")
    script(src="../airpicker/air-datepicker.js")
    script(src="../../node_modules/owl.carousel/dist/owl.carousel.min.js")
    script(src="../carousel/carousel.js")
    //-script(src="../common.blocks/pagination/pagination.min.js")
    //-script(src="../common.blocks/pagination/paginationjs.js")