include ../uiKit.blocks/color-block/color-block
include ../uiKit.blocks/type-block/type-block
include ../uiKit.blocks/forms/forms
include ../uiKit.blocks/cards/room-card/room-card

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="../fonts/fonts.scss")
        link(rel="stylesheet", href="../reset.css")
        link(rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css")        
        link(rel="stylesheet", href="../scss/main.scss")

    body
        header
            .header-main
                .header-main__container
                    a(href="./index.pug").header-main__logo
                        img(src="../img/logoMain.svg", alt="")
                    .header-main__nav-container
                        .header-main__nav-toggle
                            span
                        .header-main__nav
                            ul.cont-flex
                                li
                                    a(href="") О нас                
                                li
                                    .header-main__dropdown
                                        p Услуги
                                        i.material-icons expand_more
                                        .header-main__dropdown-content.hidden
                                            ul
                                                li
                                                    a(href="")  Item 1
                                                li
                                                    a(href="")  Item 2
                                                li
                                                    a(href="")  Item 3
                                                li
                                                    a(href="")  Item 4                                            
                                li
                                    a(href="") Вакансии
                                li
                                    a(href="") Новости
                                li
                                    .header-main__dropdown
                                        p Соглашения
                                        i.material-icons expand_more
                                        .header-main__dropdown-content.hidden
                                            ul
                                                li
                                                    a(href="")  Item 1
                                                li
                                                    a(href="")  Item 2
                                                li
                                                    a(href="")  Item 3
                                                li
                                                    a(href="")  Item 4
                        .header-main__buttons
                            .header-main__login
                                a(href="./signIn.pug")
                                    +button({theme: 'ghost', text: 'Войти'})                                                
                            .header-main__register
                                a(href="./registration.pug")
                                    +button({theme: 'colored', text: 'Зарегистрироваться'})                                        
            
        main
            .searchRoom-main
                .searchRoom-main__container
                    .searchRoom-main__filters-toggle
                        .button.button_theme_colored Фильтры                                                
                    .searchRoom-main__filters
                        .searchRoom-main__filter-block
                            +filterDateDropdown({title: 'Даты пребывания в отеле'})
                        .searchRoom-main__filter-block
                            +dropdown({name: 'Гости', type: 'Guests'})
                        .searchRoom-main__filter-block
                            +rangeSlider({title: 'Диапазон цены', tip: 'Стоимость за сутки пребывания в номере'})
                        .searchRoom-main__filter-block
                            +checkboxButton({header:'Особенности', buttons: '3', id: 'features', value: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']})
                        .searchRoom-main__filter-block
                            +richCheckboxButton({title: 'Доступность'})
                        .searchRoom-main__filter-block
                            +dropdown({name: 'Удобства номера', type: 'Rooms'})
                        .searchRoom-main__filter-block
                            +checkboxButtonExpandable({title: 'Дополнительные удобства', header:'', buttons: '8', id: 'checkboxList', value: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']})

                    .searchRoom-main__rooms-container
                        h1 Номера, которые мы для вас подобрали
                        .searchRoom-main__rooms-list
                            .searchRoom-main__room-block                        
                                +roomCard({luxe: 'люкс', number: '888', price: '9 990₽', feedback: '145', rate: '5', src: "../uploads/Rooms/room888.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '840', price: '9 990₽', feedback: '65', rate: '4', src: "../uploads/Rooms/room840.png"})                           
                            .searchRoom-main__room-block
                                +roomCard({luxe: 'люкс', number: '980', price: '8 500₽', feedback: '35', rate: '3', src: "../uploads/Rooms/room980.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '856', price: '7 300₽', feedback: '19', rate: '5', src: "../uploads/Rooms/room856.png"})                            
                            .searchRoom-main__room-block
                                +roomCard({number: '740', price: '6 000₽', feedback: '44', rate: '4', src: "../uploads/Rooms/room740.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '982', price: '5 800₽', feedback: '56', rate: '3', src: "../uploads/Rooms/room982.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '678', price: '5 500₽', feedback: '45', rate: '5', src: "../uploads/Rooms/room678.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '450', price: '5 300₽', feedback: '39', rate: '4', src: "../uploads/Rooms/room450.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '350', price: '5 000₽', feedback: '77', rate: '3', src: "../uploads/Rooms/room350.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '666', price: '5 000₽', feedback: '25', rate: '5', src: "../uploads/Rooms/room666.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '444', price: '5 000₽', feedback: '15', rate: '3', src: "../uploads/Rooms/room444.png"})
                            .searchRoom-main__room-block
                                +roomCard({number: '352', price: '5 000₽', feedback: '55', rate: '3', src: "../uploads/Rooms/room352.png"})

                        .searchRoom-main__pagination
                            .pagination
                                .pagination__pageList
                                    .pagination__pageButton.pagination__pageButton_active 1
                                    .pagination__pageButton 2
                                    .pagination__pageButton 3
                                    .pagination__pageButton ...
                                    .pagination__pageButton 15
                                    .pagination__nextButton
                                        i(class="material-icons") arrow_forward
                                .pagination__subscription
                                    p 1 - 12 из 100+ вариантов аренды

                    
                    
        footer
            .footer-main
                .footer-main__container
                    .footer-main__logo
                        img(src="../img/logoMain.svg", alt="")
                        .footer-main__caption 
                            p   Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    .footer-main__menuList
                        h3 Навигация
                        ul
                            li
                                a(href="") О нас
                            li
                                a(href="") Новости
                            li
                                a(href="") Служба поддержки
                            li
                                a(href="") Услуги
                    .footer-main__menuList
                        h3 О нас
                        ul
                            li
                                a(href="") О сервисе
                            li
                                a(href="") Наша команда
                            li
                                a(href="") Вакансии
                            li
                                a(href="") Инвесторы
                    .footer-main__menuList
                        h3 Служба поддержки
                        ul
                            li
                                a(href="") Соглашения
                            li
                                a(href="") Сообщества
                            li
                                a(href="") Связь с нами
                    .footer-main__menuList
                        h3 Подписка
                        .footer-main__caption
                            p Получайте специальные<br> предложения и новости сервиса
                        +subTextField({placeholder: 'Your email address'})
                .footer-main__border
                .footer-main__copyright
                    p Copyright © 2018 Toxin отель. Все права защищены.
                    .footer-main__contacts
                        a(href="")  
                            <i class="fab fa-twitter"></i>
                        a(href="")
                            <i class="fab fa-facebook-square"></i>
                        a(href="")
                            <i class="fab fa-instagram"></i>
    
    script(src="../js/main.js")
    script(src="../airpicker/datepicker.min.js")
    script(src="../airpicker/air-datepicker.js")
    script(src="../../node_modules/owl.carousel/dist/owl.carousel.min.js")
    script(src="../carousel/carousel.js")
    //-script(src="../common.blocks/pagination/pagination.min.js")
    //-script(src="../common.blocks/pagination/paginationjs.js")