include ../uiKit.blocks/color-block/color-block
include ../uiKit.blocks/type-block/type-block
include ../uiKit.blocks/forms/forms
include ../uiKit.blocks/cards/room-card/room-card

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UiKit 
        link(rel="stylesheet", href="../fonts/fonts.scss")
        link(rel="stylesheet", href="../reset.css")
        link(rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="../../node_modules/owl.carousel/dist/assets/owl.theme.default.css")        
        link(rel="stylesheet", href="../scss/uiKit.scss")      
                
    body
        #message
        .ui-kit-logo
            img(src="../img/logo.svg", alt="")
        .container.cont-flex
            .cont-item
                +color-block('dark-shade', 'Dark Shade 100%', '#1F2041')
                +color-block('dark-shade-75', 'Dark Shade 75%', '#1F2041')
                +color-block('dark-shade-50', 'Dark Shade 50%', '#1F2041')
                +color-block('dark-shade-25', 'Dark Shade 25%', '#1F2041')
                +color-block('dark-shade-5', 'Dark Shade 5%', '#1F2041')
                +color-block('purple', 'Purple', '#BC9CFF')
                +color-block('green', 'Green', '#6FCF97')
                
            .cont-item
                +type-block('h1')
                +type-block('h2')
                +type-block('h3')
                +type-block('body')

        .ui-kit-logo
            img(src="../img/logo.svg", alt="")

        .container.cont-flex
            .cont-item
                form(action="")
                    .block-container
                        +text-field({name: 'Text field', type: 'text', placeholder: 'Email'})
                    .block-container
                        .text-field-focused
                            h3 Text field
                            p Hover / Focus
                            input(type='text' value='This is pretty awesome' disabled)
                    .block-container
                        +dropdown({name: 'Dropdown', type: 'Guests', sign: 'Default'})   
                    .block-container
                        +masked-text-field({name: 'Masked text field', type: 'text', placeholder: 'ДД.ММ.ГГГГ', class: 'date'})             

                    .block-container
                        .date-dropdowns.cont-flex
                            .date-dropdowns__input
                                h3 Прибытие
                                input(type='text' class='splitfield date start2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                .date-dropdown__toggle
                                    i(class="material-icons") expand_more                                            
                            .date-dropdowns__input
                                h3 Выезд
                                input(type='text' class='splitfield date end2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                .date-dropdown__toggle
                                    i(class="material-icons") expand_more
                            .date-dropdown__datepick-container
                                .datepicker_uiKit
                                .date-dropdown__buttons
                                    div
                                    .date-dropdown__apply-btn Применить
                            

                    .block-container
                        +filterDateDropdown({title: 'Filter Date dropdown'})                

                    .block-container
                        .head-container
                            h3 Subscription text field
                        +subTextField({placeholder: 'Email'})

            .cont-item
                form(action="")
                    .block-container
                        +checkboxButton({header:'Checkbox buttons', buttons: '3', id: 'test', value: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']})

                    .block-container
                        .header-container
                            h3 Radio buttons
                        +radioButtons({title: 'Radio buttons', type: 'sex', id: '1'})

                    .block-container
                        +toggle({title: 'Toggle', id: '1', checked: 'true'})
                        +toggle({id: '2'})

                    .block-container
                        .header-container
                            h3 Like button
                        .cont-flex_left
                            +likeButton({checked: 'false', count: '12'})
                            +likeButton({checked: 'true', count: '2'})
                            
                            

                    .block-container
                        .header-container
                            h3 Rate button
                        .cont-flex_left
                            .block-container__elem
                                +rateButton({rate: '4'})
                            .block-container__elem
                                +rateButton({rate: '5'})            
                 
            .cont-item
                 form(action="")                    
                    .block-container
                        +rangeSlider({title: 'Range slider'})                

                    .block-container    
                        .header-container
                            h3 Buttons
                        .cont-flex_left
                            .block-container__elem
                                +button({theme: 'colored', text: 'Click me'})
                            .block-container__elem
                                .button.button_theme_colored_hovered Click me                                

                        .cont-flex_left
                            .block-container__elem
                                +button({theme: 'ghost', text: 'Click me'})
                            .block-container__elem
                                .button.button__ghost.button__ghost_hovered                                
                                    .button__ghost-content Click me                                        

                        .cont-flex_left
                            .block-container__elem
                                +button({text: 'Click me'})
                            .block-container__elem
                                .button_hovered Click me                                

                        +button({theme: 'long', text: 'Перейти к оплате'})

                    .block-container
                        .header-container
                            h3 Pagination                        
                        .pagination
                            .pagination__pageList
                                .pagination__pageButton.pagination__pageButton_active 1
                                .pagination__pageButton 2
                                .pagination__pageButton 3
                                .pagination__pageButton ...
                                .pagination__pageButton 15
                                .pagination__nextButton
                                    i(class="material-icons") arrow_forward
                            .pagination__subscription
                                p 1 - 12 из 100+ вариантов аренды

        .container.cont-flex
            .cont-item
                .uiKit-dropdown-container_small
                    +dropdown({name: 'Dropdown', type: 'Rooms'})
                .uiKit-dropdown-container_small
                    +dropdown({name: 'Dropdown', type: 'Rooms', form: 'Expanded'})

            .cont-item
                .uiKit-dropdown-container
                    +dropdown({name: 'Dropdown', type: 'Guests', form: 'Expanded'})

            .cont-item
                .uiKit-dropdown-container
                    +dropdown({name: 'Dropdown', type: 'Guests', form: 'Expanded', value: 'fill'})
        
        .container.cont-flex
        .container.cont-flex
            .cont-item            
                .block-container
                    +checkboxButtonExpandable({title: 'Expandable checkbox list', header:'', buttons: '8', id: 'checkboxList', value: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']})
                .block-container
                    .checkbox-list
                        h3 Expandable checkbox list                    
                        i(class="material-icons checkbox-list__button") expand_less
                        .checkbox-list__menu
                            +checkboxButton({header:'', buttons: '8', id: 'checkboxList', value: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']})
            .cont-item    
                .block-container
                    +richCheckboxButton({title: 'Rich checkbox buttons'})

            .cont-item
                .block-container
                    .bullet-list
                        h3 Bullet list
                        ul
                            li Нельзя с питомцами
                            li Без вечеринок и мероприятий
                            li Время прибытия - после 13:00, а выезд до 12:00
        .container.cont-flex        
            .cont-item
                .block-container
                    .features-block
                        i(class="material-icons") mood
                        .features-block__text 
                            .features-block__title Комфорт
                            .features-block__description Шумопоглощающие стены
                    .features-block
                        i(class="material-icons") location_city
                        .features-block__text 
                            .features-block__title Удобство
                            .features-block__description Окно в каждой из спален

            .cont-item
                .uiKit-feedback-container
                    .social-feedback
                        .social-feedback__header
                            .social-feedback__photo
                                img(src="../uploads/user_photo/Murad_photo.png", alt="")
                            .social-feedback__title
                                .social-feedback__name
                                    p Мурад Сарафанов
                                .social-feedback__date
                                    p 5 дней назад
                        .social-feedback__main
                            .social-feedback__like
                                .like-button
                                    input(name='like-button' class='like-button_input' type="checkbox" checked)
                                    span(class='like-button__container')
                                    i(class='material-icons like-button__icon') favorite
                                    span(class='like-button__count') 12
                            .social-feedback__text
                                p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто не жаловался из соседей.
        
        .ui-kit-logo
            img(src="../img/logo.svg", alt="")

        .container.cont-flex
            .cont-item
                .block-container
                    .form-card
                        .form-card__block
                            h1 Найдем номера под ваши пожелания
                        form(action="")
                            .form-card__block                        
                                .date-dropdowns.cont-flex
                                    .date-dropdowns__input
                                        h3 Прибытие
                                        input(type='text' class='splitfield date start2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                        .date-dropdown__toggle
                                            i(class="material-icons") expand_more                                            
                                    .date-dropdowns__input
                                        h3 Выезд
                                        input(type='text' class='splitfield date end2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                        .date-dropdown__toggle
                                            i(class="material-icons") expand_more
                                    .date-dropdown__datepick-container
                                        .datepicker_uiKit
                                        .date-dropdown__buttons
                                            div
                                            .date-dropdown__apply-btn
                                                h3 Применить
                            .form-card__block
                                +dropdown({name: 'Гости', type: 'Guests'})
                            .form-card__block
                                +button({theme: 'long', text: 'Подобрать номер'})
                .block-container
                    .form-card
                        .form-card__block
                            h1 Регистрация аккаунта
                        form(action="")
                            .form-card__block
                                .form-card__elem
                                    +text-field({type: 'text', placeholder: 'Имя'})                                
                                .form-card__elem
                                    +text-field({type: 'text', placeholder: 'Фамилия'})
                                .form-card__elem
                                    .radio-buttons                            
                                        .cont-flex_left
                                            .radio-buttons__container
                                                input(name='radio' type="radio" id='male2' checked)
                                                label(for="male2") Мужчина
                                            .radio-buttons__container
                                                input(name='radio' type="radio" id='female2')
                                                label(for="female2") Женщина
                            .form-card__block
                                +masked-text-field({name: 'Дата рождения', type: 'text', placeholder: 'ДД.ММ.ГГГГ', class: 'date'})
                            .form-card__block
                                .form-card__elem
                                    +text-field({name: 'Данные для входа в сервис', type: 'text', placeholder: 'Email'})
                                .form-card__elem
                                    +text-field({type: 'password', placeholder: 'Пароль'})
                                .form-card__elem
                                    +toggle({id: '3'})
                            .form-card__block
                                +button({theme: 'long', text: 'Перейти к оплате'})
                            .form-card__block
                                .cont-flex
                                    .form-card__sign
                                        p Уже есть аккаунт на Toxin
                                    +button({theme: 'ghost', text: 'Войти'})

            .cont-item
                .block-container
                    .form-card
                        form(action="")
                            .form-card__block
                                .cont-flex
                                    .cont-flex
                                        p.form-card__text.form-card__text_bold №
                                        p.form-card__text.form-card__text_high 888
                                        p.form-card__text.form-card__text_purple люкс
                                    .form-card__text
                                        p 9 990₽ в сутки
                            .form-card__block
                                .date-dropdowns.cont-flex
                                    .date-dropdowns__input
                                        h3 Прибытие
                                        input(type='text' class='splitfield date start2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                        .date-dropdown__toggle
                                            i(class="material-icons") expand_more                                            
                                    .date-dropdowns__input
                                        h3 Выезд
                                        input(type='text' class='splitfield date end2' autocomplete="off" placeholder='ДД.ММ.ГГГГ')
                                        .date-dropdown__toggle
                                            i(class="material-icons") expand_more
                                    .date-dropdown__datepick-container
                                        .datepicker_uiKit
                                        .date-dropdown__buttons
                                            div
                                            .date-dropdown__apply-btn Применить                                                
                            .form-card__block
                                +dropdown({name: 'Гости', type: 'Guests'})
                            .form-card__block
                                .form-card__elem
                                    .cont-flex
                                        p 9 990₽ x 4 суток
                                        p 39 960₽
                                .form-card__elem
                                    .cont-flex
                                        .cont-flex
                                            .form-card__description
                                                p Сбор за услуги: скидка 2 179₽
                                            .form-card__info
                                                p i
                                        p 0₽
                                .form-card__elem
                                    .cont-flex
                                        .cont-flex
                                            .form-card__description
                                                p Сбор за дополнительные услуги
                                            .form-card__info
                                                p i
                                        p 300₽
                            .form-card__block
                                .form-card__result
                                    p Итого
                                    .form-card__lower-border
                                    p 38 081₽
                            .form-card__block
                                +button({theme: 'long', text: 'Забронировать'})

                .block-container
                    .form-card
                        form(action="")
                            .form-card__block
                                h1 Войти
                            .form-card__block
                                .form-card__elem
                                    +text-field({type: 'text', placeholder: 'Email'}) 
                                .form-card__elem
                                    +text-field({type: 'password', placeholder: 'Пароль'}) 
                            .form-card__block
                                +button({theme: 'long', text: 'Войти'})
                            .form-card__block
                                .cont-flex
                                    .form-card__sign
                                        p Нет аккаунта на Toxin?
                                    +button({theme: 'ghost', text: 'Создать'})

            .cont-item
                .block-container
                    .date-dropdown__datepick-container_visible
                        .datepicker_uiKit
                        .elem-container.cont-flex
                            div
                            .dropdown__apply-btn Применить                            
                    
                .block-container
                    .room-card
                        .room-card__image.owl-carousel.owl-theme
                            img(src="../uploads/Rooms/room888.png", alt="")
                            img(src="../uploads/Rooms/room888.png", alt="")
                            img(src="../uploads/Rooms/room888.png", alt="")
                            img(src="../uploads/Rooms/room888.png", alt="")
                        .room-card__info
                            .cont-flex
                                p.room-card__text.room-card__text_black №
                                p.room-card__text.room-card__text_high 888
                                p.room-card__text.room-card__text_luxe люкс
                            .cont-flex
                                p.room-card__text.room-card__text_bold 9 990₽ 
                                p.room-card__text.room-card__text_standart в сутки
                        .room-card__feedback
                            +rateButton({rate: '5'})
                            a(href="").cont-flex
                                p.room-card__text.room-card__text_bold 145  
                                p.room-card__text.room-card__text_standart Отзывов

                .block-container
                    .room-card
                        .room-card__image.owl-carousel.owl-theme
                            img(src="../uploads/Rooms/room840.png", alt="")
                            img(src="../uploads/Rooms/room840.png", alt="")
                            img(src="../uploads/Rooms/room840.png", alt="")
                            img(src="../uploads/Rooms/room840.png", alt="")
                        .room-card__info
                            .cont-flex
                                p.room-card__text.room-card__text_black №
                                p.room-card__text.room-card__text_high 840
                            .cont-flex
                                p.room-card__text.room-card__text_bold 9 990₽ 
                                p.room-card__text.room-card__text_standart в сутки
                        .room-card__feedback
                            +rateButton({rate: '4'})
                            a(href="").cont-flex
                                p.room-card__text.room-card__text_bold 65  
                                p.room-card__text.room-card__text_standart Отзывов


        .ui-kit-logo
            img(src="../img/logo.svg", alt="")

        //- Header
        header
            .header-main
                .header-main__container
                    a(href="./index.pug").header-main__logo
                        img(src="../img/logoMain.svg", alt="")
                    .cont-flex
                        .header-main__nav
                            ul.cont-flex
                                li
                                    a(href="") Home
                                li
                                    a(href="") About Us
                                li
                                    .header-main__dropdown
                                        p Services
                                        i.material-icons expand_more
                                        .header-main__dropdown-content.hidden
                                            ul
                                                li
                                                    a(href="")  Item 1
                                                li
                                                    a(href="")  Item 2
                                                li
                                                    a(href="")  Item 3
                                                li
                                                    a(href="")  Item 4                                            
                                li
                                    a(href="") Careers
                                li
                                    a(href="") News
                                li
                                    a(href="") Dosumentation
                        .header-main__buttons
                            .header-main__login
                                a(href="./signIn.pug")
                                    +button({theme: 'ghost', text: 'Login'})                                                
                            .header-main__register
                                a(href="./registration.pug")
                                    +button({theme: 'colored', text: 'Register'})

        //- Header
        .container.cont-flex
        
        //- Header logged in   
        header
            .header-main
                .header-main__container
                    a(href="./index.pug").header-main__logo
                        img(src="../img/logoMain.svg", alt="")
                    .cont-flex
                        .header-main__nav
                            ul.cont-flex
                                li
                                    a(href="") Home
                                li
                                    a(href="") About Us
                                li
                                    .header-main__dropdown
                                        p Services
                                        i.material-icons expand_more
                                        .header-main__dropdown-content.hidden
                                            ul
                                                li
                                                    a(href="")  Item 1
                                                li
                                                    a(href="")  Item 2
                                                li
                                                    a(href="")  Item 3
                                                li
                                                    a(href="")  Item 4                                            
                                li
                                    a(href="") Careers
                                li
                                    a(href="") News
                                li
                                    a(href="") Dosumentation
                        .header-main__userName
                            p Cosmin Negoita                                    
        //- Header logged in

        .container.cont-flex

        //- Footer
        footer  
            .footer-main
                .footer-main__container
                    .footer-main__logo
                        img(src="../img/logoMain.svg", alt="")
                        .footer-main__caption 
                            p   Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                    .footer-main__menuList
                        h3 Navigation
                        ul
                            li
                                a(href="") About Us
                            li
                                a(href="")  News
                            li
                                a(href="")  Support
                            li
                                a(href="")  Products
                    .footer-main__menuList
                        h3 About us
                        ul
                            li
                                a(href="") Who we are
                            li
                                a(href="")  Our team
                            li
                                a(href="")  Careers
                            li
                                a(href="")  Investors
                    .footer-main__menuList
                        h3 Support
                        ul
                            li
                                a(href="") Documentation
                            li
                                a(href="") Community
                            li
                                a(href="") Gei in Touch
                    .footer-main__menuList
                        h3 Subscribe to our newsletter
                        .footer-main__caption
                            p Receive our latest news and <br> promotions in your inbox!
                        +subTextField({placeholder: 'Your email address'})
                .footer-main__border
                .footer-main__copyright
                    p Copyright © 2018 Toxin UI Kit. All rights reserved.
                    .footer-main__contacts
                        a(href="")  
                            <i class="fab fa-twitter"></i>
                        a(href="")
                            <i class="fab fa-facebook-square"></i>
                        a(href="")
                            <i class="fab fa-instagram"></i>
        //- Footer

        .container.cont-flex

        //- Footer creative
        footer  
            .footer-main
                .footer-main__container_mid
                    .footer-main__logo
                        img(src="../img/logoMain.svg", alt="")
                    .footer-main__caption 
                        p   Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                    .footer-main__contacts
                        a(href="")  
                            <i class="fab fa-twitter"></i>
                        a(href="")
                            <i class="fab fa-facebook-square"></i>
                        a(href="")
                            <i class="fab fa-instagram"></i>

        script(src="../js/main.js")
        script(src="../airpicker/datepicker.min.js")
        script(src="../airpicker/air-datepicker.js")
        script(src="../../node_modules/owl.carousel/dist/owl.carousel.min.js")
        script(src="../carousel/carousel.js")
        //-script(src="../common.blocks/pagination/pagination.min.js")
        //-script(src="../common.blocks/pagination/paginationjs.js")
        