@media (max-width: 980px) {
    .searchRoom-main__container {
        display: block;
    }

    .searchRoom-main__filters-toggle {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .searchRoom-main__filters {
        display: none;
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .searchRoom-main__rooms-container {
        max-width: 92%;
        margin: 0 4%;
    }
}

@media (max-width: 551px) {
    .searchRoom-main__rooms-list {
        justify-content: center;
    }
    .searchRoom-main__room-block{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .searchRoom-main__filters{
        justify-content: center;
    }
}