@media (max-width: 960px) {
    .roomDetails-main-info {
        display: block;
        width: 80%;
    }
    .roomDetails-main-info__container {
        width: 100%;
    }

    .roomDetails-main-info__card {
        width: 65%;
        max-width: 380px;
        margin: 0 auto;
    }
    
    .roomDetails-main-info__block-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .roomDetails-main-info {
        width: 100%;
    }
    
    .roomDetails-main-info__block-container {
        display: block;
    }
    .roomDetails-main-info__block_small {
        margin: 0 auto;
        margin-bottom: 20px;

        &:first-child {
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 420px) {
    body {
        .roomDetails-main-head {
            display: block;
        }
        .roomDetails-main-head__container_big {
            width: 100%;
        }
        .roomDetails-main-head__container_small {
            width: 100%;
        }
    
        .pieChart {
            display: block;
        }
        .pieChart__tips {
            margin-top: 0;
        }
        .pieChart__circle-container {
            margin-left: 32px;
        }

        .roomDetails-main-info__card {
            width: 100%;
        }

        .roomDetails-main-info {
            padding: 0;
        }
    }    
}

@media (max-width: 340px) {
    body {
        .roomDetails-main-info__card {
            .form-card {
                padding: 10px;
                padding-top: 22px;
                padding-bottom: 10px;
            }
        }
    }
}