.roomDetails-main-head {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@import "./__container/_big/roomDetails-main-head__container_big.scss";
@import "./__container/_small/roomDetails-main-head__container_small.scss";
@import "./__block/roomDetails-main-head__block.scss";