@media (max-width: 600px) {
    body {
        .landingPage-main__container {
            padding: 0;
        }

        .landingPage-main__block_card {
            .form-card {
                margin: 0 auto;
                padding: 5%;
                padding-bottom: 0.625rem;
                padding-top: 2.5rem;
            }
        }
    }        
}