@import "./__container/landingPage-main__container.scss";
@import "./__block/_card/landingPage-main__block_card.scss";
@import "./__block/_tip/landingPade-main_tip.scss";

.landingPage-main {
    width: 100%;
    height: 51.875rem;
    background: url(../uploads/background/pink_room.png) no-repeat;
    background-position: center;
    background-size: cover;
}

@import "./__media/landingPage-main__media.scss";
