.datepicker {
    width: 280px;
    height: auto;
    margin: 1.25rem;
    border: none;
    position: relative;

    &--nav {
        margin-bottom: 1.875rem;
        border: none;
        font-size: 1.1875rem;
        font-family: Montserrat;
        font-weight: bold;
        color: $dark-shade;
        padding: 0;

        i {
            color: $dark-shade;
        }

        &-action:nth-child(1) {
            width: 18px;
            height: 18px;
            background-image: url(../img/arrow_back.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 7px;
            margin-left: 2px;
        }
        &-action:last-child {
            width: 18px;
            height: 18px;
            background-image: url(../img/arrow_forward.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 7px;
            margin-right: 3px;
        }
    }

    &--content {
        padding: 0;
    }

    &--day-name {
        margin-top: -5px;
    }

    &--day-name {
        font-size: 12px;
        font-family: Montserrat;
        color: $purple;
        font-weight: bold;
        width: 2.5rem;
        height: 2.5rem;
        text-transform: capitalize;
    }

    .datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
        border-radius: 50%;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &--cells {
        margin-top: -2px;
        margin-bottom: 12px;
        
        .-current- {
            font-weight: bold;
            color: #ffffff;
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        }        
        
        .-range-from-::after {
            content: '';
            position: absolute;
            z-index: -100;
            width: 40px;
            height: 40px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            opacity: 0.25;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .-range-to-::after {
            content: '';
            position: absolute;
            z-index: -100;
            width: 40px;
            height: 40px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            opacity: 0.25;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        .-in-range- {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            opacity: 0.25;
            color: black;
        }
    }

    &--cell-day {
        width: 2.5rem;
        height: 2.5rem;
        font-family: Montserrat;
        color: $dark-shade-50;
        border-radius: 50%;
    }
    
    &--buttons {
        display: inline-block;
        border: none;
        margin-left: -1px;
        padding: 0;
        text-transform: uppercase;
        font-size: 12px;

        span {
            color: $dark-shade-50;
            font-family: Montserrat;
            font-weight: bold;
        }

        :hover {
            background: none;
        }
    }
}

.dropdown__menu-container_type_date {
    .datepicker--buttons {
        border: none;
        padding: 0;
        position: absolute;
        bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;

        span {
            color: $dark-shade-50;
            font-family: Montserrat;
            font-weight: bold;
        }

        :hover {
            background: none;
        }
    }
}