.registration-main {
    width: 100%;
    background: url(../uploads/background/white_room.png) no-repeat;
    background-position: center;
    background-size: cover;
}

@import "./__container/registration-main__container.scss";