.searchRoom-main__container {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    padding-top: 32px;
    padding-bottom: 70px;
}