mixin likeButton(options)
    if options.checked == 'true'
        .like-button
            input(name='like-button' class='like-button_input' type="checkbox" checked)
            span(class='like-button__container')
            i(class='material-icons like-button__icon') favorite
            span(class='like-button__count')= options.count
    else 
        .like-button
            input(name='like-button' class='like-button_input' type="checkbox")
            span(class='like-button__container')
            i(class='material-icons like-button__icon') favorite_border
            span(class='like-button__count')= options.count