.pieChart {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@import "./__circle-container/pieChart__circle-container.scss";
@import "./__circle/pieChart__circle.scss";
@import "./__circle-number/pieChart__circle-number.scss";
@import "./__circle-label/pieChart__circle-label.scss";
@import "./__tips/pieChart__tips.scss";
@import "./__tip/pieChart__tip.scss";